<meta charset="UTF-8">
<title>Drone photography by Martin Bonnevier</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<style>
  body, html, container { 
    /* width: 100vw; */
    padding-top:50px; 
  background-color: #bd1443ff;}

  * {
     box-sizing: border-box; }
/* main, row{width: 100vh;

} */
  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.card:hover {
  transform: scale(1.2);
  transition: transform 1s;
  z-index: 101;
}
.card{
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem;
  z-index: 100;
  transition: transform 1s;
}
#back-front-buttons {
  margin: 1rem;
  width: 200px
}
.column img {

  vertical-align: middle;
  z-index: 100;
  max-width: 100%;

}

.column{
  flex :25%;
  padding: 0 4px;
}
.jumbotron{
  background-color: #bd1443ff;
  color: white;
  padding: 10px;
}
/* main{
  width: 100%;
} */
</style>