<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/reset">Drone Photography <img src="/img/logo/head.png" alt=""></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/reset">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>