<!DOCTYPE html>
<div class="container-fluid"></div>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container w-100">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>

    <div class="jumbotron">


     
    </div>
    
  </main>

  <footer>

    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
</div>