<!DOCTYPE html>
<div class="container-fluid"></div>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container w-100">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>


      <div class="bg-dark" id="about-text">
        <div class="text-center">
          <p class="text-muted">Drone photography by Martin Bonnevier</p>
          <p class="text-muted"><a href="mailto:martinbonnevier@hotmail.com" class="text-muted">E-mail me</a></p>
          

        </div>
      </div>

  </main>

  <footer>

    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
</div>